body
{
background-color: white;
}

.header
{
height: 55px;
background-color: grey;
visibility: visible;
}

.header_logo
{
height: 55px;
width: 65px;
background-image: url(Images/logo.svg);
background-size:cover;
visibility: visible;
}

.testa
{
background-color: lightblue;
}
.testb
{
border: solid black 5px;
height:105px;
background-color: green;
}
.testc
{
  width: calc(100vw / 12);
  background-color: blue;
  display: flex;
  flex-direction: row;
}
.testd
{
  width: calc(100vw / 12);
  background-color: red;
  display: flex;
  flex-direction: row;
}
