@font-face
{
  font-family:"DK";
  src: url("../fonts/DK Toadstool.svg"),
  url("../fonts/DK Toadstool.eot"),
  url("../fonts/DK Toadstool.ttf"),
  url("../fonts/DK Toadstool.woff");
}

*
{
  margin: 0;
  padding: 0;
}

a
{
 cursor: pointer;
 text-decoration: none;
}

body
{
  max-width: 100vw;
  background-color:#EEEEEE;
}

header
{
  max-width:100vw;
  display: block;
}
footer
{
  max-width: 100vw;
  padding-bottom: 15px;
}
footer .d0000
{

  display: inline-block;
}
footer div:first-child
{
  margin-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
footer hr
{
  visibility: hidden;
}
img
{
  width: 100%;
}

li
{
  list-style-type: none;
}

#menu
{
  line-height:55px;
}

.separator
{
height: 80px;
}
.a0001
{
  line-height:55px;
  font-family:"DK";
  color: white;
  font-size: 40px;
}
.a0002
{
  margin-left:20px;
  font-family:"DK";
  color: white;
  font-size: 22px;
  text-decoration: none;
  display: inline;
}
.a0003
{
  margin-left: 5px;
}
.a0004
{
  text-decoration: none;
  color: white;
}
.a0004:hover
{
  text-decoration: none;
  color: white;
}
.a0005
{
  line-height:90px;
  font-family:"DK";
  color: black;
  font-size: 2.2vw;
  text-decoration: none;
  display: inline;
}
.a0006
{
  text-align: center;
  cursor: pointer;
  margin-top: 18px;
  height: 50px;
  border-radius: 6px;
  visibility: visible;
  background-color: #45D884;
  -moz-box-shadow: 0px 4px 0px 0px #3B925F;
  -webkit-box-shadow: 0px 4px 0px 0px #3B925F;
  -o-box-shadow: 0px 4px 0px 0px #3B925F;
  box-shadow: 0px 4px 0px 0px #3B925F;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#3B925F, Direction=180, Strength=0);
  -moz-transition: box-shadow 0.1s;
  -webkit-transition: box-shadow 0.1s;
  -o-transition: box-shadow 0.1s;
  transition: box-shadow 0.1s;
}
.a0006:active
{
  -moz-box-shadow: 0px -2px 0px 0px #3B925F;
  -webkit-box-shadow: 0px -2px 0px 0px #3B925F;
  -o-box-shadow: 0px -2px 0px 0px #3B925F;
  box-shadow: 0px -2px 0px 0px #3B925F;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#3B925F, Direction=180, Strength=0);
}
.a0007
{
  text-align: center;
  line-height: 50px;
  font-family:"DK";
  color: white;
  font-size: 2.2vw;
}
.b0001
{
  text-decoration: none;
  margin-top: 2vw;
  font-size: 28px;
  color:#3E3E3E;
}
.b0001:hover
{
  text-decoration: none;
}
.b0002
{
  font-family:"DK";
  font-size: 45px;
  color:#3E3E3E;
}
.b0003
{
  font-family:"DK";
  font-size: 30px;
  color:#3E3E3E;
}
.b0004
{
  margin-left: 10px;
  font-family:"DK";
  font-size: 20px;
  color:#3E3E3E;
}
.b0005
{
  margin-top:5px;
  font-size: 18px;
  color:#3E3E3E;
}
.b0006
{
  margin-left: 50px;
}
.b0006 a
{
  color:#3E3E3E;
}
.d0001
{
  font-family:"DK";
  font-size: 2vw;
  color: white;
}
.d0002
{
  font-family:"DK";
  color: white;
  font-size: 2vw;
  text-decoration: none;
  padding-bottom: 3px;
}
.d0003
{
  font-size: 2.5vw;
  color: white;
  padding-bottom: 5px;
}
.d0004
{
  margin-left: 10px;
  font-family:"DK";
  font-size: 1.5vw;
  color: white;
}
.d0005
{
  font-family:"DK";
  width:22vw;
  word-wrap: break-word;
  font-size: 1vw;
  color: white;
}

.rub_nav
{
  max-width:100vw;
  height: 55px;
  background-color: #3E3E3E;
  display: block;
  visibility: visible;
}
.rub_banner
{
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.rub_downinfo
{

  height:90px;
  background-color: white;
  visibility: visible;
}

.rub_sec
{
padding-top: 25px;
padding-bottom: 25px;
}
.sec_head
{
  padding-top: 25px;
  height: 15vw;
  background-color: #45D884;
  display: block;
  visibility: visible;
}
.sec_head p:first-child
{
  margin-top: -3vh;
  line-height: 15vw;
  vertical-align: middle;
  text-align: center;
  font-family:"DK";
  color: white;
  font-size: 5vw;
}
.sec_body
{
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: white;
  display: block;
  visibility: visible;
}
.sec_body p
{
  font-family:"DK";
  color: black;
  font-size: 1.4vw;
  padding-bottom: 15px;
}
.sec_body .a0006
{
  margin-left:33.22%;
  margin-top: -2px;
  vertical-align: middle;
  text-align: center;
}
.sec_body .a0007
{
  font-size: 1.8vw
}
.sec_body hr
{
  margin:5px;
  clear: both;
  visibility: hidden;
}
.sec_body .c0001
{
width: 30%;
margin-left: 10%;
min-height: 30px;
border: solid 1px black;
}
.sec_body textarea
{
width: 80%;
height: 16vw;
margin-left: 10%;
min-height: 50px;
border: solid 1px black;
padding-bottom: 20px;
}


.rub_aside
{
  height: 500px;
  border-radius: 8px;
  background-color: white;
  visibility: visible;
}
.rub_foot
{
  background-color: #3E3E3E;
  display: block;
  visibility: visible;
}
.myAffix
{
  position: absolute;
  top: 85vh;
}
.myAffixed
{
  position: fixed;
  top:-200px;
}
/*==================================================================*/
/*==================================================================*/
/*==================================================================*/
/*==================================================================*/
/*==================================================================*/

@media (max-width: 1024px)/* TABLET*/
{
  .a0001
  {
    font-family:"DK";
    color: white;
    font-size: 35px;
  }
  .a0002
  {
    font-family:"DK";
    color: white;
    font-size: 2.2vw;
    text-decoration: none;
    display: inline;
  }
  .b0004
  {
    font-size: 14px;
  }
  .b0006
  {
    margin-left: 0px;
  }
  .rub_aside
  {
    height: 450px;
  /*  -moz-transition: top 0.5s;
    -web-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;*/
  }
}

@media (max-width: 768px)/*SMARPHONE*/
{
  .a0001
  {
    font-family:"DK";
    color: white;
    font-size: 20px;
  }
  .a0002
  {
    margin-left: 15px;
    font-family:"DK";
    color: white;
    font-size: 2.2vw;
    text-decoration: none;
    display: inline;
  }
  .a0003
  {
    margin-left: 5px;
  }
  .a0005
  {
    font-size: 2.2vw;
  }
  .b0002
  {
    font-size: 15px;
  }
  .b0003
  {
    margin-left: -5px;
    font-size: 15px
  }
  .b0004
  {
    font-size: 11px;
  }
  .b0006
  {
    margin-left: 0px;
  }
  .sec_body p
  {
    font-family:"DK";
    color: black;
    font-size: 2.5vw;
  }
  .rub_aside
  {
    height: 400px;
  }
}

@media (max-width: 480px)/*SMARPHONE PETIT*/
{
  .a0001
  {
    font-family:"DK";
    color: white;
    font-size: 130%;
  }
  .a0002
  {
    margin-left: 5px;
    font-family:"DK";
    color: white;
    font-size: 3vw;
    text-decoration: none;
    display: inline;
  }
  .a0003
  {
    margin-left: 5px;
  }
  .a0005
  {
    font-size: 2.5vw;
  }
  .a0006
  {
    margin-top: 20px;
    width:100px;
    height:30px;
  }
  .a0007
  {
    text-align: center;
    line-height: 30px;
    font-size: 12px;
  }
  .b0002
  {
    font-size: 15px;
  }
  .b0003
  {
    margin-left: -10px;
    font-size: 10px
  }
  .b0004
  {
    visibility: hidden;
  }
  .b0006
  {
    margin-left: 0px;
  }
  .rub_aside
  {
    height: 380px;
  }
  .sec_body .a0006
  {
    margin-left:30%;
    margin-top: -2px;
    vertical-align: middle;
    text-align: center;
  }
  .sec_body .a0007
  {
    font-size: 3vw;
  }
  .sec_body p
  {
    font-family:"DK";
    color: black;
    font-size: 3vw;
  }
}
@media (max-width:380px)
{
  .a0001
  {
    font-family:"DK";
    color: white;
    font-size: 100%;
  }
  .a0002
  {
    font-size:2.5vw;
  }
  .sec_head p:first-child
  {
    margin-top: -5vh;
    line-height: 15vw;
    vertical-align: middle;
    text-align: center;
  }
  .sec_body p
  {
    font-family:"DK";
    color: black;
    font-size: 3vw;
  }
  .sec_body .a0006
  {
    margin-left:25%;
  }
}
