/*
///
////
///// Generals
////
///
*/
@font-face
{
  font-family:"DK";
  src: url("../fonts/coolvetica rg.svg"),
  url("../fonts/coolvetica rg.eot"),
  url("../fonts/coolvetica rg.ttf"),
  url("../fonts/coolvetica rg.woff");
}
*
{
  margin: 0;
  padding: 0;
}
body
{
  max-height: 100vw;
  background-color: #292929;
}
li
{
  text-decoration: none;
}
img
{
  position: absolute;
  top: 0;
  pointer-events: none;
  transition: margin 0.5s;
}
/*
///
////
///// MAP
////
///
*/
table
{
  border-collapse: collapse;
  border-spacing: 0;
  transform: rotateX(60deg) rotateZ(45deg);
  transform-style: preserve-3d;
  -moz-transform: rotateX(60deg) rotateZ(45deg);
  -moz-transform-style: preserve-3d;
  -webkit-transform: rotateX(60deg) rotateZ(45deg);
  -webkit-transform-style: preserve-3d;
}
tr
{
  background-color: white;
}
td
{
  font-size: 1.5vw;
  width: 10%;
  height: 10%;
  max-width: 10%;
  max-height: 10%;
  border: 0.5px solid black;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/ground.svg');
}
td.attack
{
  cursor: pointer;
  box-shadow: inset 0px 0px 6px 8px red;
  /*background-color: red;*/
  visibility: visible;
}
td.move
{
  cursor: pointer;
  box-shadow: inset 0px 0px 5px 8px green;
  visibility: visible;
}
td.rocked
{
  background-color: black;
  visibility: visible;
}
td.weapon
{
  /*box-shadow: inset 0px 0px 5px 2px lightblue;*/
  visibility: visible;
}
/* div#subTable
{
  display: inline;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/sub.svg');
  z-index: 0;
} */
/*
///
////
///// Players
////
///
*/
#playerOne
{
  width: 100%;
  height: 100%;
}
#playerOne.active:hover
{
  cursor: pointer;
}
#playerTwo
{
  width: 100%;
  height: 100%;
}
#playerTwo.active:hover
{
  cursor: pointer;
}
/*
///
////
///// Notifier
////
///
*/
div#Notifier
{
  font-family: "DK";
  color: white;
  opacity: 0;
  text-align: center;
  position: absolute;
  z-index: -50;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  -moz-transition: opacity 2s;

}
/*
///
////
///// Monitor
////
///
*/
div#monitor
{
  border-radius: 1vw;
  visibility: visible;
  position:  absolute;
  z-index: 10;
  transition: background-color 2s;
  -webkit-transition: background-color 2s;
  -o-transition: background-color 2s;
  -moz-transition: background-color 2s;
}
div#subMonitor
{
  border-radius: 1vw;
  visibility: visible;
  position:  absolute;
  z-index: 9;
  transition: background-color 2s;
  -webkit-transition: background-color 2s;
  -o-transition: background-color 2s;
  -moz-transition: background-color 2s;
}

#icone_time
{
  margin-top: 5%;
  margin-left: 7%;
  width: 9%;
  height: 24%;
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
  background-image: url("../assets/ui_time.svg");
}
#icone_turn
{
  margin-top: 7.5%;
  margin-left: 7%;
  width: 9%;
  height: 24%;
  position: relative;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/ui_turn.svg");
}
#icone_life
{
  margin-top: 0%;
  margin-left: 35%;
  width: 9%;
  height: 24%;
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/ui_life.svg");
}
#icone_weapon
{
  margin-top: 7.5%;
  margin-left: 35%;
  width: 9%;
  height: 24%;
  position: relative;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/ui_weapon.svg");
}
#zone_time
{
  margin-top: 6%;
  margin-left: 2%;
  width: 25%;
  height: 20%;
}
#zone_turn
{
  margin-top: 8.2%;
  margin-left: 1.8%;
  width: 25%;
  height: 20%;
}
#zone_life
{
  margin-top: 6%;
  margin-left: 2%;
  width: 25%;
  height: 20%;
}
#zone_weapon
{
  margin-top: 8.2%;
  margin-left: 3.1%;
  width: 25%;
  height: 20%;
}
.zone
{
  font-family: "DK";
  color: white;
  text-align: center;
/*  line-height: 5%;*/
  vertical-align: baseline;
  border-radius: 5px;
  position: absolute;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.29);
  /*opacity: 0.29;*/
}
/*
///
////
///// Buttons
////
///
*/
div#but_attack
{
  position: absolute;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/logo_atk.svg");
}
div#but_move
{
  position: absolute;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/logo_move.svg");
}
div#but_defend
{
  position: absolute;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/logo_defend.svg");
}
div#but_turn
{
  position: absolute;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/logo_surrender.svg");
}
div.button
{
  text-outline: 2vw;
  width:4.5vw;
  height:4.5vw;
  visibility: visible;
  position:  absolute;
  z-index: 10;
  border-radius: 25vw;
  transition: margin-top 0.5;
  -webkit-transition: margin-top 0.5;
  -moz-transition: margin-top 0.5;
  -o-transition: margin-top 0.5;
  transition: background-color 2s;
  -webkit-transition: background-color 2s;
  -o-transition: background-color 2s;
  -moz-transition: background-color 2s;

}
div.button:hover
{
  cursor: pointer;
}
span.subButton
{
  text-outline: 2vw;
  width:4.5vw;
  height:4.5vw;
  visibility: visible;
  position:  absolute;
  z-index: 8;
  border-radius: 25vw;
  background-color: black;
  transition: background-color 2s;
  -webkit-transition: background-color 2s;
  -o-transition: background-color 2s;
  -moz-transition: background-color 2s;
}
/*
///
////
/////
////
///
*/
