body
{
  background-color: #487396;
  background-image: url('../assets/cow2.svg');
  background-repeat: no-repeat;
  background-size: auto 52vw;
  background-position: right top;
  transition: background-image 2s, background-size 2s, background-position 2s;
  -o-transition: background-image 2s, background-size 2s, background-position 2s;
  -moz-transition: background-image 2s, background-size 2s, background-position 2s;
  -webkit-transition: background-image 2s, background-size 2s, background-position 2s;
}
div#header
{
  margin-top: 35vh;
  margin-left: 21vw;
  font-size: 4vw;
  color: white;
  text-shadow: 1px -1px 0 black;
  position: absolute;
  display: block;
  transition: margin-top 2s;
  -moz-transition: margin-top 2s;
  -o-transition: margin-top 2s;
  -webkit-transition: margin-top 2s;
}
div.butStyle
{
  width: 20vw;
  height: 5vw;
  margin-left: 40vw;
  margin-top: 45vh;
  font-size: 1.2em;
  color: black;
  text-align: center;
  line-height: 5vw;
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px black;
  text-shadow: 1px -1px 0 white;
  box-shadow: inset 0 1px 0 white, 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 white, 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 white, 0 1px 1px rgba(0, 0, 0, 0.2);
  visibility: visible;
  position: absolute;
  display: block;
  background-color: #E2B939;
}
